/* 目标路径: src/pages/telegram/list/index.less */
.ant-table-wrapper .ant-table-thead>tr>th {
  background-color: rgb(207, 227, 250) !important;
  font-weight: 600;
}

/* 搜索区整体 padding */
.compact-search {
  padding: 6px !important;
}

/* 搜索表单本身 padding */
.compact-search .ant-pro-query-filter {
  padding: 1 !important;
}

/* 每一行搜索项的垂直间距 */
.compact-search .ant-form-item {
  margin-bottom: 2px !important;
}

/* label 高度太高的问题 */
.compact-search .ant-form-item-label {
  padding-bottom: 1 !important;
}
